<div class="header" id="myHeader">
  <span class = "spacer"></span>
  <div class="home">
    <h1><a href = '/home/'>Home</a></h1>
  </div>
  <span class = "spacer"></span>
  <div class="filter">
    <h2><a href = '/filters/'>Filters</a></h2>
  </div>
  <span class = "spacer"></span>
  <div class = "Files">
    <h2><a href = '/image/'>Files</a></h2>
  </div>
  <span class = "spacer"></span>
  <div class="login">
    {{#if logged}}
        <h2><a href = '/profile/'>{{username}}</a></h2>
    {{else}}
        <h2><a href = '/profile/'>Log in</a></h2>
    {{/if}}
  </div>
  <span class = "spacer"></span>
</div>
<div class="content">
  <img src = {{url}} alt = "Selected image"></img>
  <p>{{description}}</p>
  <p>Comments</p>
  {{#each comments}}
    <p>{{author}}: {{time}}</p>
    <p>{{comment}}</p>
  {{/each}}
  {{#if logged}}
  <form id="comment-form" method="POST" action="/image/comment">
    <div class="comment-form">
      <label for="comment">{{user}}</label>
      <input type="text" class="form-input" id="comment" name="comment" placeholder="Enter comment"><br>
      <div class="form-group">
          <button type="submit" class="btn">Comment</button>
      </div>
    </div>
  </form>
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet"
    data-size="large">
    Tweet</a>

  {{else}}
    <p>Please log in if you want to comment
  {{/if}}
</div>