<div class="header" id="myHeader">
  <span class = "spacer"></span>
  <div class="home">
    <h1><a href = '/home/'>Home</a></h1>
  </div>
  <span class = "spacer"></span>
  <div class="filter">
    <h2><a href = '/filters/'>Filters</a></h2>
  </div>
  <span class = "spacer"></span>
  <div class = "Files">
    <h2><a href = '/image/'>Files</a></h2>
  </div>
  <span class = "spacer"></span>
  <div class="login">
    {{#if logged}}
        <h2><a href = '/profile/'>{{username}}</a></h2>
    {{else}}
        <h2><a href = '/profile/'>Log in</a></h2>
    {{/if}}
  </div>
  <span class = "spacer"></span>
</div>
<div class="content">
	{{#if logged}}
    <p>Posterize</p>
    <form method="POST" id="myForm" action="/filters/posterize">
        <label>Input Name</label>
        <select id="filename" name="filename">
        {{#each imageTag}}
          <option value = {{name}}>{{name}}</option>
        {{/each}}
        </select><br>
        <label for="outputName">Output Name</label>
        <input type="text" class="form-input" id= "outputName" name="outputName" placeholder="Enter output name"><br>
        <label for="k">K value</label>
        <input type="number" class="form-input" id = "k" name="k" placeholder="Enter K value"><br>
        <input type="submit" value="submit">
        {{#unless status}}
            <p class = "error">{{message}}</p>
        {{/unless}}
    </form>
    {{else}}
    <p>Please log in to use our filters!</p>
    {{/if}}
</div>
