<div class="header" id="myHeader">
  <div class="home">
  	<h2><a href = '/home'>Home</a></h2>
  </div>
  <div class="filter">
  	<h2><a href = '/fitlers'>Filters</a></h2>
  </div>
  <div class="login">
  	{{#if logged}}
  		<h2><a href = '/login'>{{username}}</a></h2>
    {{else}}
    	<h2><a href = '/login'>Log in</a></h2>
  	{{/if}}
  </div>
</div>
{{#if logged}}
<div class="user-profile">
    <div class="box1">
        <p>user profile</p>
    </div>
    <div class="box2">
        <p>more handlebars stuff, must also give option to edit</p>
    </div>
</div>
{{else}}
<form id="login-form" method="POST" action="/login">
	<div class="login-form">
		<label for="email">Email</label>
		<input type="text" class="form-input" id="email" name="email" placeholder="Enter email"><br>
		<label for="password">Password</label>
		<input type="password" class="form-input" id="password" name="password" placeholder="Enter password"><br>

		<div class="form-group">
		    <button type="submit" class="btn">login</button>
		</div>
		{{#unless status}}
            <p>{{message}}</p>
        {{/unless}}
	</div>
</form>
<form id="registration-form" method="POST" action="/register">
	<div class="registration-form">
		<label for="firstname">First Name</label>
		<input type="text" class="form-input" id="firstname" name="firstname" placeholder="Enter first name"><br>
		<label for="lastname">Last Name</label>
		<input type="text" class="form-input" id="lastname" name="lastname" placeholder="Enter last name"><br>
		<label for="age">Age</label>
		<input type="number" class="form-input" id="age" name="age" placeholder="Enter last age"><br>
		
		<label for="email">Email</label>
		<input type="text" class="form-input" id="email" name="email" placeholder="Enter email"><br>
		<label for="password">Password</label>
		<input type="password" class="form-input" id="password" name="password" placeholder="Enter password"><br>

		<label for="gender">Gender</label>
		<input type="text" class="form-input" id="gender" name="gender" placeholder="Enter gender"><br>
		<label for="city">City</label>
		<input type="text" class="form-input" id="city" name="city" placeholder="Enter city"><br>
		<label for="state">State</label>
		<input type="text" class="form-input" id="state" name="state" placeholder="Enter state"><br>

		<div class="form-group">
		    <button type="submit" class="btn">register</button>
		</div>
		{{#unless status}}
            <p>{{message}}</p>
        {{/unless}}
	</div>
</form>
{{/if}}